@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

::selection {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.ascii-art {
  letter-spacing: 0;
  font-family: "Courier New", monospace;
  line-height: 1;
}
